html {
  body#booklet {
    section {
      &#top-booklet {
        height: 1000px;
        position: relative;
        margin-bottom: 150px;
        @media screen and (max-width: $size0){
          height: 800px;
        }
        @media screen and (max-width: $size4){
          height: 100vh;
          margin-bottom: 100px;
        }
        div.container{
          position: relative;
          z-index: 1;
          top: 50%;
          @include translateY(-50%);
          div.content{
            position: relative;
            p.surtitre{
              margin-bottom: 20px;
              font-size: 25px;
              position: relative;
              display: inline-block;
              @media screen and (max-width: $size0){
                font-size: 22px;
              }
              &:after{
                content:'';
                display: block;
                width: 50px;
                height: 1px;
                background-color: $color3;
                position: absolute;
                right: -70px;
                top: 50%;
                @include translateY(-50%);
              }
              @media screen and (max-width: $size4){
                font-size: 12px;
                left: 50%;
                margin-bottom: 40px;
                @include translateX(-50%);
                &:after{
                  bottom: -20px;
                  left: 50%;
                  right: inherit;
                  top: inherit;
                  @include translateX(-50%);
                }
              }
            }
            h1{
              max-width: 1000px;
              margin-bottom: 100px;
              position: relative;
              &:before{
                content:'';
                z-index: 1;
                display: block;
                width: 300px;
                height: 300px;
                position: absolute;
                top: -200px;
                right: 0px;
                background-color: $color2;
                opacity: .5;
                @include border-radius(100%);
                @media screen and (max-width: $size0){
                  width: 200px;
                  height: 200px;
                  top: -80px;
                  right: 120px;
                }
                @media screen and (max-width: $size4){
                  width: 120px;
                  height: 120px;
                  top: -80px;
                  right: 50px;
                }
              }
            }
            a{
              left: 50%;
              @include translateX(-50%);
            }
          }
        }
        div.bg-img{
          height: 100%;
          width: 80vw;
          max-width: 1600px;
          position: absolute;
          left: 0;
          top: 0;
          @media screen and (max-width: $size4){
            width: 100%;
          }
          img{
            display: block;
            position: relative;
            height: 100%;
            width: 80vw;
            max-width: 100%;
            object-fit: cover;
            object-position: left;
            @media screen and (max-width: $size4){
              width: 100%;
            }
          }
        }
      }
      &#debut-booklet{
        margin-bottom: 200px;
        @media screen and (max-width: $size4){
          margin-bottom: 100px;
        }
        div.container{
          p{
            font-size: 24px;
            color: $color6;
            display: inline-block;
            left: 50%;
            position: relative;
            background-image: linear-gradient(transparent calc(100% - 15px), black 0px);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-y: -5px;
            @include translateX(-50%);
            @media screen and (max-width: $size4){
              background-image: inherit;
              font-size: 12px;
            }
          }
        }
      }
      &#commencons-booklet{
        margin-bottom: 200px;
        @media screen and (max-width: $size4){
          margin-bottom: 100px;
        }
        div.container{
          @include display-flex();
          @include align-items(center);
          @media screen and (max-width: $size4){
            @include flex-direction(column);
            @include justify-content(center);
          }
          div.left{
            width: 50%;
            padding-right: 20px;
            @media screen and (max-width: $size3){
              width: 60%;
            }
            @media screen and (max-width: $size4){
              width: 100%;
              padding-right: 0px;
            }
            h2{
              max-width: 400px;
              margin-bottom: 60px;
              @media screen and (max-width: $size4){
                margin-bottom: 40px;
                text-align: center;
                max-width: 100%;
              }
            }
            div.texte{
              line-height: 2;
              ul{
                line-height: 1.5;
                padding: 20px 0 20px 20px;
                li{
                  position: relative;
                  &:not(:last-child){
                    margin-bottom: 10px;
                  }
                  &:before{
                    content:'';
                    z-index: 1;
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -5px;
                    left: -15px;
                    background-color: $color2;
                    opacity: .5;
                    @include border-radius(100%);
                    @media screen and (max-width: $size4){
                      width: 15px;
                      height: 15px;
                      top: -2px;
                      left: -10px;
                    }
                  }
                }
              }
              span.underline{
                position: relative;
                background-image: linear-gradient(transparent calc(100% - 10px), black 0px);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position-y: 0px;
              }
              @media screen and (max-width: $size4){
                margin-bottom: 80px;
              }
            }
          }
          div.right{
            position: relative;
            width: 50%;
            @media screen and (max-width: $size3){
              width: 40%;
            }
            @media screen and (max-width: $size4){
              width: 100vw;
            }
            img{
              display: block;
              margin-left: auto;
              max-width: 700px;
              min-height: 700px;
              width: 100%;
              height: auto;
              object-fit: cover;
              @media screen and (max-width: $size2){
                min-height: 500px;
              }
              @media screen and (max-width: $size4){
                max-width: inherit;
                min-height: inherit;
                height: 500px;
              }
            }
            div.contain-audio{
              div.player-container{
                position: absolute;
                bottom: -60px;
                left: 120px;
                @media screen and (max-width: $size4){
                  bottom: inherit;
                  left: 50%;
                  top: -37.5px;
                  @include translateX(-50%);
                }
              }
            }
            &:before{
              content:'';
              z-index: 1;
              display: block;
              width: 300px;
              height: 300px;
              position: absolute;
              top: -100px;
              left: -100px;
              background-color: $color1;
              opacity: .5;
              @include border-radius(100%);
              @media screen and (max-width: $size0){
                width: 200px;
                height: 200px;
                top: -50px;
              }
              @media screen and (max-width: $size4){
                width: 120px;
                height: 120px;
                top: inherit;
                bottom: -80px;
                left: inherit;
                right: 50px;
              }
            }
          }
        }
      }
      &#voyage-booklet{
        position: relative;
        margin-bottom: 400px;
        @media screen and (max-width: $size4){
          margin-bottom: 150px;
        }
        div.container{
          &.title{
            bottom: -20px;
            z-index: 3;
            h2{
              max-width: 800px;
              text-align: center;
              margin: 0 auto;
            }
            @media screen and (max-width: $size4){
              bottom: 0px;
              top: 60px;
            }
          }
          &.has-content{
            position: absolute;
            z-index: 1;
            width: 50%;
            max-width: 800px;
            right: 100px;
            bottom: -200px;
            div.content{
              padding: 60px;
              background-color: rgba(0, 0, 0, .8);
            }
            @media screen and (max-width: $size4){
              position: relative;
              width: 100%;
              max-width: calc(100% - #{$goutiere});
              right: inherit;
              bottom: inherit;
              bottom: -100px;
              div.content{
                padding: 30px;
              }
            }
          }
        }
        div.contain-audio{
          div.player-container{
            z-index: 1;
            position: absolute;
            bottom: -60px;
            left: 100px;
            @media screen and (max-width: $size4){
              bottom: -40px;
              left: 50%;
              @include translateX(-50%);
            }
          }
        }
        div.bg-img{
          height: 1000px;
          width: 100%;
          position: relative;
          @media screen and (max-width: $size0){
            height: 900px;
          }
          @media screen and (max-width: $size4){
            height: 600px;
          }
          img{
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      &#oreille-booklet{
        position: relative;
        margin-bottom: 200px;
        @media screen and (max-width: $size4){
          margin-bottom: 100px;
        }
        div.container{
          h2{
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 60px;
            @media screen and (max-width: $size4){
              margin-bottom: 40px;
            }
          }
          div.contain-audio{
            position: relative;
            div.player-container{
              z-index: 1;
              position: absolute;
              top: -50px;
              right: 100px;
              @media screen and (max-width: $size4){
                position: relative;
                top: inherit;
                margin-bottom: 40px;
                left: 50%;
                @include translateX(-50%);
              }
            }
          }
          div.content{
            margin-bottom: 200px;
            @include display-flex();
            @include justify-content(space-between);
            @media screen and (max-width: $size4){
              @include flex-direction(column);
              margin-bottom: 80px;
            }
            div.left{
              position: relative;
              width: 50%;
              max-width: 700px;
              padding-right: 20px;
              p{
                &:not(:last-child){
                  margin-bottom: 40px;
                }
              }
              &:before{
                content:'';
                z-index: 1;
                display: block;
                width: 280px;
                height: 280px;
                position: absolute;
                bottom: -100px;
                right: 50px;
                background-color: $color2;
                opacity: .5;
                @include border-radius(100%);
                @media screen and (max-width: $size0){
                  width: 180px;
                  height: 180px;
                }
                @media screen and (max-width: $size4){
                  width: 70px;
                  height: 70px;
                  bottom: -20px;
                }
              }
              @media screen and (max-width: $size4){
                width: 100%;
                margin-bottom: 40px;
                padding-right: 0px;
              }
            }
            div.right{
              position: relative;
              width: 50%;
              max-width: 700px;
              top: 120px;
              padding-left: 20px;
              p{
                text-align: right;
                @media screen and (max-width: $size4){
                  text-align: left;
                }
              }
              @media screen and (max-width: $size4){
                top: 0px;
                width: 100%;
                padding-left: 0px;
              }
            }
          }
          div.contain-cards{
            min-height: 700px;
            @media screen and (max-width: $size3){
              min-height: 500px;
            }
            div.cover{
              z-index: 3;
              position: absolute;
              left: 50%;
              opacity: 1;
              visibility: visible;
              @include display-flex();
              @include justify-content(center);
              @include translateX(-50%);
              @include transition(.5s ease-in-out);
              @media screen and (max-width: $size4){
                @include flex-direction(column);
              }
              div.left{
                margin-right: 80px;
                @media screen and (max-width: $size4){
                  margin-right: 0px;
                  margin-bottom: 50px;
                }
                div.contain{
                  position: relative;
                  margin-right: 100px;
                  @media screen and (max-width: $size4){
                    margin-right: 0px;
                  }
                  img{
                    height: 700px;
                    width: auto;
                    z-index: 2;
                    @include box-shadow(8px 8px 10px rgba(0, 0, 0, .4));
                    @media screen and (max-width: $size4){
                      position: relative;
                      left: calc(50% - 25px);
                      @include translateX(-50%);
                    }
                    &:nth-child(2){
                      z-index: 1;
                      position: absolute;
                      top: 50px;
                      left: 100px;
                      @media screen and (max-width: $size4){
                        top: 25px;
                        left: calc(50% + 25px);
                        @include translateX(-50%);
                      }
                    }
                    @media screen and (max-width: $size3){
                      height: 500px;
                    }
                    @media screen and (max-width: $size4){
                      height: 300px;
                    }
                  }
                }
              }
              div.right{
                span{
                  position: relative;
                  top: 50%;
                  white-space: nowrap;
                  @include translateY(-50%);
                  @media screen and (max-width: $size4){
                    left: 50%;
                    @include transform(translateX(-50%), translateY(-50%));
                  }
                }
              }
              &.hidden{
                opacity: 0;
                visibility: hidden;
              }
            }
            div.slider{
              z-index: 2;
              opacity: 0;
              visibility: hidden;
              max-height: 0;
              @include transition(opacity .5s ease-in-out, visibility .5s ease-in-out);
              div.swiper-wrapper{
                @include display-flex();
                div.swiper-slide{
                  min-width: 100%;
                  div.contain{
                    @include display-flex();
                    @include justify-content(center);
                    @include align-items(center);
                    @media screen and (max-width: $size4){
                      height: 100%;
                      @include flex-direction(column-reverse);
                      @include justify-content(space-between);
                    }
                    div.left{
                      position: relative;
                      div.contain-audio{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        @media screen and (max-width: $size4){
                          position: relative;
                          width: 100%;
                          margin-bottom: 40px;
                        }
                        div.player-container{
                          z-index: 1;
                          position: absolute;
                          top: -50px;
                          right: 50px;
                          @media screen and (max-width: $size4){
                            position: relative;
                            top: inherit;
                            margin-bottom: 0px;
                            bottom: 0px;
                            left: 50%;
                            @include translateX(-50%);
                          }
                        }
                      }
                      img{
                        width: 450px;
                        height: auto;
                        margin-right: 100px;
                        @include box-shadow(8px 8px 10px rgba(0, 0, 0, .4));
                        @media screen and (max-width: $size3){
                          margin-right: 40px;
                        }
                        @media screen and (max-width: $size4){
                          margin-right: 0px;
                          width: 100%;
                          max-width: 350px;
                        }
                      }
                    }
                    div.right{
                      padding-right: 30px;
                      @media screen and (max-width: $size4){
                        margin-bottom: 40px;
                        padding-right: 0px;
                      }
                      h3{
                        margin-bottom: 40px;
                        position: relative;
                        @media screen and (max-width: $size4){
                          text-align: center;
                          display: inline-block;
                          left: 50%;
                          @include translateX(-50%);
                        }
                        &:before{
                          content:'';
                          z-index: 1;
                          display: block;
                          width: 100px;
                          height: 100px;
                          position: absolute;
                          top: -40px;
                          left: 20px;
                          background-color: $color2;
                          opacity: .5;
                          @include border-radius(100%);
                          @media screen and (max-width: $size4){
                            width: 60px;
                            height: 60px;
                            top: -20px;
                            right: 10px;
                          }
                        }
                      }
                      p{
                        @media screen and (max-width: $size4){
                          text-align: center;
                        }
                      }
                    }
                  }
                  &:nth-child(even){
                    div.contain{
                      @include flex-direction(row-reverse);
                      @media screen and (max-width: $size4){
                        @include flex-direction(column-reverse);
                        @include justify-content(space-between);
                      }
                      div.left{
                        div.contain-audio {
                          left: 0;
                          @media screen and (max-width: $size4){
                            margin-bottom: 40px;
                          }
                          div.player-container {
                            left: 50px;
                            right: inherit;
                            @media screen and (max-width: $size4){
                              left: 50%;
                            }
                          }
                        }
                        img{
                          margin-right: 0;
                          margin-left: 100px;
                          @media screen and (max-width: $size4){
                            margin-left: 0px;
                          }
                        }
                      }
                      div.right{
                        padding-left: 30px;
                        padding-right: 0px;
                        @media screen and (max-width: $size4){
                          padding-left: 0px;
                        }
                      }
                    }
                  }
                }
              }
              div.contain-arrows{
                margin-top: 50px;
                @include display-flex();
                @include justify-content(space-between);
                div.swiper-button-prev, div.swiper-button-next{
                  position: relative;
                  cursor: pointer;
                  width: 95px;
                  height: 15px;
                  background-image: url('../img/picto-arrow.svg');
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                  opacity: 1;
                  visibility: visible;
                  @include transition(.2s ease-in-out);
                  &:before{
                    content:'';
                    display: block;
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    bottom: -40px;
                    right: 20px;
                    background-color: $color1;
                    opacity: 0;
                    @include border-radius(100%);
                    @include transition(.25s ease-in-out);
                  }
                  &:hover{
                    &:before{
                      opacity: .5;
                      bottom: -50px;
                      right: 10px;
                    }
                  }
                  &.swiper-button-disabled{
                    opacity: 0;
                    visibility: hidden;
                  }
                }
                div.swiper-button-prev{
                  left: 100px;
                  background-image: url('../img/picto-arrow-right.svg');
                  @include rotate(180deg);
                  @media screen and (max-width: $size4){
                    left: 20px;
                  }
                  &:hover{
                    &:before{
                      bottom: -30px;
                      right: 30px;
                    }
                  }
                }
                div.swiper-button-next{
                  right: 100px;
                  @media screen and (max-width: $size4){
                    right: 20px;
                  }
                }
              }
              &.visible{
                opacity: 1;
                visibility: visible;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
}